<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <div class="box">
          <h1 class="title"><%= I18n.t('views.build') %></h1>

          <div class="build-items">
          <% @builds.each do |build| %>
          <%= erb(:'shared/build', locals: { build: build }) %>
          <% end %>
          </div>

          <% if @next_info[:has_next] %>
          <button class="btn btn-gray btn-block btn-view-more" data-json="<%= escape_html(@next_info.to_json) %>" onclick="Timgialinhkien.loadMoreBuilds(this)"><%= I18n.t('views.view_more_btn') %></button>
          <% end %>
        </div>
      </section>

      <aside class="sidebar">
        <h2 class="title"><%= I18n.t('views.filter_title') %></h2>

        <form action="/builds" method="get">
          <div class="flexbox flexbox-sidebar no-expanded">
            <div class="build-options">
              <h3 class="sub-title"><%= I18n.t('views.filter_price') %></h3>
              <ul>
                <% SETTINGS['price_type'].each do |price| %>
                <li>
                  <input name="price_type[]" type="checkbox" id="price_type_<%= price %>" value="<%= price %>" <%= params[:price_type]&.include?(price) ? 'checked' : '' %>>
                  <label for="price_type_<%= price %>"><%= I18n.t("views.#{price}") %></label>
                </li>
                <% end %>
              </ul>
            </div>

            <div class="build-options">
              <h3 class="sub-title"><%= I18n.t('views.filter_cpu') %></h3>
              <ul>
                <% SETTINGS['cpu_type'].each do |type| %>
                <li>
                  <input name="cpu_type[]" type="checkbox" id="cpu_<%= type %>" value="<%= type %>" <%= params[:cpu_type]&.include?(type) ? 'checked' : '' %>>
                  <label for="cpu_<%= type %>"><%= I18n.t("views.cpu_#{type}") %></label>
                </li>
                <% end %>
              </ul>
            </div>
          </div>

          <button type="submit" class="btn"><%= I18n.t('views.filter_btn') %></button>
        </form>
      </aside>
    </div>
  </div>
</main>

<% content_for(:title) do %>
<%= 'Dàn máy - rapmay' %>
<% end %>
<% content_for(:description) do %>
<%= 'Những dàn máy tính được ráp và chia sẻ bởi cộng đồng rapmay' %>
<% end %>
<% content_for(:canonical) do %>
<%= 'https://rapmay.com/builds' %>
<% end %>
<% content_for(:og_title) do %>
<%= 'Dàn máy - rapmay' %>
<% end %>
<% content_for(:og_site_name) do %>
<%= 'Dàn máy - rapmay' %>
<% end %>
<% content_for(:og_description) do %>
<%= 'Những dàn máy tính được ráp và chia sẻ bởi cộng đồng rapmay' %>
<% end %>
<% content_for(:og_url) do %>
<%= 'https://rapmay.com/builds' %>
<% end %>

<script type="text/template" id="build-item">
{% builds.forEach(function(build) { %}
<div class="build-item media">
  <div class="media-left">
    <a href="/{%- build.user.username %}"><img src="{%- build.user.avatar_url %}" alt="{%- build.user.short_username %}"></a>
  </div>
  <div class="media-body">
    <p>
      <a href="/{%- build.user.username %}" class="media-username">{%- build.user.short_username %}</a>
      <span class="media-date"><%= I18n.t('views.built_at') %>{%- build.display_date %}</time>
    </p>
    <h3 class="build-title"><a href="/builds/{%- build.slug %}">{%- build.title %}</a></h3>
    <div class="build-status">
      <span class="build-label">{%- build.price_type %}</span>
      <span class="build-label">{%- build.cpu_type %}</span>
    </div>
  </div>
</div>
{% } ) %}
</script>
