<main class="contents">
  <div class="container">
    <div class="box">
      <form action="/builds" method="post">
        <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
        <input type="hidden" name="user_id" value="<%= current_user&.id %>">
        <input type="hidden" name="total_price" value="<%= @total_price %>">
        <input type="hidden" name="cpu_type" value="<%= @cpu_type %>">
        <% @hardwares.each do |hardware| %>
        <input type="hidden" name="hardware_ids[]" value="<%= hardware.id %>">
        <% end %>
        <div class="building-list">
          <h1 class="title text-center"><%= I18n.t('views.create_building_list') %></h1>
          <div class="form">
            <div class="form-group">
              <label class="form-label"><%= I18n.t('views.build_title') %></label>
              <div class="form-input">
                <input name="title" class="input" type="text" value="<%= @build.title %>">
                <%= model_text_error(@build.errors, :build, :title) %>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label"><%= I18n.t('views.build_description') %></label>
              <div class="form-input">
                <textarea name="description" class="textarea" value="<%= @build.description %>"></textarea>
                <%= model_text_error(@build.errors, :build, :description) %>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label"><%= I18n.t('views.build_price_showed') %></label>
              <div class="form-input">
                <input type="radio" id="price_showed_yes" name="price_showed" value="true" <%= (@build.price_showed == true || @build.price_showed.nil?) ? 'checked' : '' %>>
                <label for="price_showed_yes"><%= I18n.t('views.price_showed_yes') %></label>
                <input type="radio" id="price_showed_no" name="price_showed" value="false" <%= @build.price_showed == false ? 'checked' : '' %>>
                <label for="price_showed_no"><%= I18n.t('views.price_showed_no') %></label>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label"><%= I18n.t('views.build_provider_showed') %></label>
              <div class="form-input">
                <input type="radio" id="provider_showed_yes" name="provider_showed" value="true" <%= @build.provider_showed ? 'checked' : '' %>>
                <label for="provider_showed_yes"><%= I18n.t('views.provider_showed_yes') %></label>
                <input type="radio" id="provider_showed_no" name="provider_showed" value="false" <%= @build.provider_showed ? '' : 'checked' %>>
                <label for="provider_showed_no"><%= I18n.t('views.provider_showed_no') %></label>
              </div>
            </div>
          </form>

          <% if @hardwares.size > 0 %>
          <div class="hardware-list table-responsive">
            <table class="table">
              <tr>
                <th>#</th>
                <th><%= I18n.t('views.hardware_provider') %></th>
                <th><%= I18n.t('views.hardware_part') %></th>
                <th><%= I18n.t('views.hardware_name') %></th>
                <th><%= I18n.t('views.hardware_price') %></th>
                <th></th>
              </tr>
            <% @hardwares.each_with_index do |hardware, k| %>
              <tr>
                <td><%= k + 1 %></td>
                <td><%= escape_html I18n.t("views.#{hardware.provider}") %></td>
                <th><%= escape_html hardware.part %></th>
                <td><a href="<%= escape_html hardware.url %>" target="_blank"><%= escape_html hardware.name %></a></td>
                <td class="text-red"><%= escape_html hardware.display_price %></td>
                <td><button type="button" class="btn btn-gray" data-json="<%= escape_html({ id: hardware.id, price: hardware.price, part: hardware.part }.to_json) %>" onclick="HardwareList.removeItem(this)"><%= I18n.t('views.remove_btn') %></button></td>
              </tr>
            <% end %>
              <tr>
                <td colspan="4" class="text-right text-bold"><%= I18n.t('views.hardware_total_price') %></td>
                <td id="total-price" colspan="2" class="text-red"><%= BuildCasePc::Util.to_vnd(@total_price) %></td>
              </tr>
            </table>
          </div>
          <% end %>

          <div class="building-list-btn">
            <% if signed_in? %>
            <button type="submit" class="btn btn-green" title="<%= I18n.t('views.build_new_title') %>"><%= I18n.t('views.build_btn') %></button>
            <% else %>
            <a href="/sign_in" class="btn btn-gray"><%= I18n.t('views.sign_in_btn') %></a>
            <% end %>
            <a href="/" class="btn btn-gray" title="<%= I18n.t('views.change_parts_title') %>"><%= I18n.t('views.continue_build_btn') %></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<% content_for(:title) do %>
<%= 'Build cấu hình máy tính mới - buildcauhinh' %>
<% end %>
<% content_for(:description) do %>
<%= 'Build cấu hình máy tính mới' %>
<% end %>
<% content_for(:canonical) do %>
<%= to('/builds/new') %>
<% end %>
<% content_for(:og_title) do %>
<%= 'Build cấu hình máy tính mới - buildcauhinh' %>
<% end %>
<% content_for(:og_site_name) do %>
<%= 'Build cấu hình máy tính mới - buildcauhinh' %>
<% end %>
<% content_for(:og_description) do %>
<%= 'Build cấu hình máy tính mới' %>
<% end %>
<% content_for(:og_url) do %>
<%= to('/builds/new') %>
<% end %>
