<main class="contents">
  <div class="container">
    <div class="building-list">
      <h1 class="title text-center">Dàn máy đang ráp</h1>
      <div class="form">
        <div class="form-group">
          <label class="form-label">Tiêu đề</label>
          <input class="form-input input" type="text">
        </div>
        <div class="form-group">
          <label class="form-label">Nội dung</label>
          <textarea class="form-input textarea"></textarea>
        </div>
        <div class="form-group">
          <label class="form-label">Mức giá</label>
          <select name="price_type" class="form-input input">
            <option value="" selected>Chọn mức giá</option>
            <option value="under_7"><%= I18n.t('views.under_7') %></option>
            <option value="between_7_12"><%= I18n.t('views.between_7_12') %></option>
            <option value="between_13_20"><%= I18n.t('views.between_13_20') %></option>
            <option value="above_20"><%= I18n.t('views.above_20') %></option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Loại CPU</label>
          <div class="form-input">
          <% SETTINGS['cpu_type'].each do |cpu| %>
          <input type="radio" id="cpu_type_<%= cpu %>" name="cpu_type"><label for="cpu_type_<%= cpu %>"><%= I18n.t("views.cpu_#{cpu}") %></label>
          <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Hiện giá phần cứng</label>
          <div class="form-input">
            <input type="radio" id="price_showed_yes" name="price_showed"><label for="price_showed_yes">Có</label><input type="radio" id="price_showed_no" name="price_showed"><label for="price_showed_no">Không</label>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Hiện tên cửa hàng</label>
          <div class="form-input"><input type="radio" id="provider_showed_yes" name="provider_showed"><label for="provider_showed_yes">Có</label><input type="radio" id="provider_showed_no" name="provider_showed"><label for="provider_showed_no">Không</label></div>
        </div>
      </div>
      <div class="hardware-list">
        <div class="hardware-item">
          <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
          <div class="hardware-body">
            <h3 class="hardware-name"><a href="#"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</a></h3>
            <p class="hardware-price">1.600.000 VND</p>
          </div>
          <div class="hardware-btn">
            <button type="button" class="btn btn-gray"><%= I18n.t('views.build_btn') %></button>
          </div>
        </div>
        <div class="hardware-item">
          <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
          <div class="hardware-body">
            <h3 class="hardware-name"><a href="#"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake Intel G4600 Kabylake Intel G4600 Kabylake Intel G4600 Kabylake</a></h3>
            <p class="hardware-price">1.600.000 VND</p>
          </div>
          <div class="hardware-btn">
            <button type="button" class="btn btn-gray"><%= I18n.t('views.build_btn') %></button>
          </div>
        </div>
        <div class="hardware-item">
          <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
          <div class="hardware-body">
            <h3 class="hardware-name"><a href="#"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</a></h3>
            <p class="hardware-price">1.600.000 VND</p>
          </div>
          <div class="hardware-btn">
            <button type="button" class="btn btn-gray"><%= I18n.t('views.build_btn') %></button>
          </div>
        </div>
      </div>
      <div class="building-list-btn">
        <button type="button" class="btn btn-green" onclick="BuildingList.create()">Tạo</button>
        <a href="/" class="btn btn-gray">Tiếp tục ráp</a>
      </div>
    </div>
  </div>
</main>
