<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <div class="box">
          <div class="build-detail">
            <h1 class="title"><%= @build.title %></h1>
            <div class="media media-center build-info">
              <div class="media-left">
              <img src="<%= @build.user.eco_img_url %>" alt="<%= @build.user.username %>">
              </div>
              <div class="media-body">
                <a class="media-username" href="/<%= @build.user.username %>"><%= @build.user.username %></a>
                <time class="media-date"><%= I18n.t('views.built_at') %><%= @build.display_date %></time>
                <% if signed_in? && current_user.id == @build.user_id %>
                <a class="icon-action" href="/builds/<%= @build.id %>/edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg></a>
                <form action="/builds/<%= @build.id %>/delete" method="post">
                <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
                <button class="icon-action" type="button" onclick="Build.delete()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></button>
                </form>
                <% end %>
              </div>
            </div>

            <% if @build.description %>
            <p class="build-description"><%= @build.description %></p>
            <% end %>

            <% if @hardwares.size > 0 %>
            <div class="table-responsive">
              <table class="table table-hardwares">
                <tr>
                  <th>#</th>
                  <%= @build.provider_showed ? "<th class=\"th-provider\">#{I18n.t('views.hardware_provider')}</th>" : ''  %>
                  <th><%= I18n.t('views.hardware_part') %></th>
                  <th><%= I18n.t('views.hardware_name') %></th>
                  <%= @build.price_showed ? "<th class=\"th-price\">#{I18n.t('views.hardware_price')}</th>" : ''  %>
                </tr>
              <% @hardwares.each_with_index do |hardware, k| %>
                <tr>
                  <td><%= k + 1 %></td>
                  <%= @build.provider_showed ? "<td>#{hardware.provider}</td>" : ''  %>
                  <td><%= hardware.part %></td>
                  <td><a href="<%= hardware.url %>" target="_blank"><%= hardware.name %></a></td>
                  <%= @build.price_showed ? "<td class=\"text-red\">#{hardware.display_price}</td>" : ''  %>
                </tr>
              <% end %>
              </table>
            </div>
            <% end %>

            <div class="build-status">
              <% if @build.cpu_type %>
              <span class="build-label"><%= I18n.t("views.cpu_#{@build.cpu_type}") %></span>
              <% end %>
              <span class="build-label"><%= Buildcauhinh::Util.to_vnd(@build.total_price) %></span>
            </div> </div>

          <div class="comment">
            <h2 class="title"><%= I18n.t('views.comment') %></h2>

            <%= erb(:'shared/comment_form', locals: { build: @build, errors: @comment&.errors }) %>

            <div class="comment-list">
              <% @comments.each do |comment| %>
              <%= erb(:'shared/comment', locals: { comment: comment }) %>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <%= erb(:'shared/sidebar', locals: { new_builds: @new_builds }) %>
    </div>
  </div>
</main>

<% content_for(:title) do %>
<%= "#{@build.title} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:description) do %>
<%= @build.description ? (@build.description) : "#{@build.title} được build bởi thành viên #{@build.user.username}" %>
<% end %>
<% content_for(:canonical) do %>
<%= to("/builds/#{@build.slug}") %>
<% end %>
<% content_for(:og_title) do %>
<%= "#{@build.title} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_site_name) do %>
<%= "#{@build.title} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_description) do %>
<%= @build.description ? @build.description : "#{@build.title} được build bởi thành viên #{@build.user.username}" %>
<% end %>
<% content_for(:og_url) do %>
<%= to("/builds/#{@build.slug}") %>
<% end %>
