<main class="contents">
  <div class="form-wrapper">
    <h1 class="title text-center"><%= I18n.t('views.forgot_pwd') %></h1>
    <%= single_text_error(@error) %>
    <form class="form" action="/forgot_pwd" method="post">
      <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
      <div class="form-group">
        <input name="email" class="input form-input" type="email" placeholder="<%= I18n.t('views.email') %>">
      </div>
      <div class="form-group">
        <input class="btn btn-block" type="submit" value="<%= I18n.t('views.send_btn') %>">
      </div>
    </form>
  </div>
</main>

<% content_for(:title) do %>
<%= "Quên mật khẩu #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:description) do %>
<%= 'Tìm lại mật khẩu đã mất hay đã quên của bạn' %>
<% end %>
<% content_for(:canonical) do %>
<%= to('/forgot_pwd') %>
<% end %>
<% content_for(:og_title) do %>
<%= "Quên mật khẩu #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_site_name) do %>
<%= "Quên mật khẩu #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_description) do %>
<%= 'Tìm lại mật khẩu đã mất hay đã quên của bạn' %>
<% end %>
<% content_for(:og_url) do %>
<%= to('/forgot_pwd') %>
<% end %>

<% if flash[:success] %>
  <% content_for(:success) do %>
    <%= flash[:success] %>
  <% end %>
<% end %>
