<main class="contents">
  <div class="form-wrapper">
    <h1 class="title text-center"><%= I18n.t('views.reset_pwd') %></h1>
    <%= single_text_error(@error) %>
    <form class="form" action="/reset_pwd" method="post">
      <input name="reset_pwd_token" type="hidden" value="<%= @token %>">
      <div class="form-group">
        <div class="form-input">
          <input name="password" class="input" type="password" placeholder="<%= I18n.t('views.new_password') %>">
          <%= model_text_error(@errors, :user, :password) %>
        </div>
      </div>
      <div class="form-group">
        <input class="btn btn-block" type="submit" value="<%= I18n.t('views.change_pwd_btn') %>">
      </div>
    </form>
  </div>
</main>
