<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <div class="box">
          <h2 class="title"><%= I18n.t('views.new_builds') %></h2>

          <div class="build-items">
          <% @builds.each do |build| %>
          <%= erb(:'shared/build', locals: { build: build }) %>
          <% end %>
          </div>

          <% if @next_info[:has_next] %>
          <div class="block-view-more">
            <button class="btn btn-gray btn-block" data-username="<%= @user.username %>" data-json="<%= escape_html(@next_info.to_json) %>" onclick="Buildcauhinh.loadMoreUserBuilds(this)"><%= I18n.t('views.view_more_btn') %></button>
          </div>
          <% end %>
        </div>
      </section>

      <aside class="sidebar">
        <div class="user-profile">
          <img class="user-avatar" src="<%= @user.eco_img_url %>" alt="<%= @user.username %>">
          <h1 class="user-name sub-title"><%= @user.username %></h1>
          <% if @user.about %>
          <p class="user-about"><%= escape_html @user.about %></p>
          <% end %>
        </div>
      </aside>
    </div>
  </div>
</main>

<% content_for(:title) do %>
<%= "#{@user.username} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:description) do %>
<%= "Những cấu hình máy tính được build bởi #{@user.username}" %>
<% end %>
<% content_for(:canonical) do %>
<%= to("/@#{@user.username}") %>
<% end %>
<% content_for(:og_title) do %>
<%= "#{@user.username} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_site_name) do %>
<%= "#{@user.username} - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_description) do %>
<%= "Những cấu hình máy tính được build bởi #{@user.username}" %>
<% end %>
<% content_for(:og_url) do %>
<%= to("/@#{@user.username}") %>
<% end %>
<% content_for(:og_image) do %>
<%= @user.eco_img_url %>
<% end %>

<% if flash[:success] %>
  <% content_for(:success) do %>
    <%= flash[:success] %>
  <% end %>
<% end %>
