<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <h2 class="title"><%= I18n.t('views.new_builds') %></h2>

        <div class="build-items">
        <% @builds.each do |build| %>
        <%= erb(:'shared/build', locals: { build: build }) %>
        <% end %>
        </div>
      </section>

      <aside class="sidebar">
        <div class="user-profile">
          <img class="user-avatar" src="<%= @user.avatar_url %>" alt="<%= @user.short_username %>">
          <h1 class="user-name sub-title"><%= @user.short_username %></h1>
          <% if @user.about %>
          <p class="user-about"><%= @user.about %></p>
          <% end %>
        </div>
      </aside>
    </div>
  </div>
</main>

<% content_for(:title) do %>
<%= "#{@user.short_username} - rapmay" %>
<% end %>
<% content_for(:description) do %>
<%= "Những dàn máy tính mà #{@user.short_username} đã ráp" %>
<% end %>
<% content_for(:canonical) do %>
<%= "https://rapmay.com/#{@user.username}" %>
<% end %>
<% content_for(:og_title) do %>
<%= "#{@user.short_username} - rapmay" %>
<% end %>
<% content_for(:og_site_name) do %>
<%= "#{@user.short_username} - rapmay" %>
<% end %>
<% content_for(:og_description) do %>
<%= "Những dàn máy tính mà #{@user.short_username} đã ráp" %>
<% end %>
<% content_for(:og_url) do %>
<%= "https://rapmay.com/#{@user.username}" %>
<% end %>
<% content_for(:og_image) do %>
<%= @user.avatar_url %>
<% end %>
