<main class="contents">
  <div class="form-wrapper">
    <h1 class="title text-center"><%= I18n.t('views.sign_up') %></h1>
    <form class="form" action="/sign_up" method="post">
      <div class="form-group">
        <div class="form-input">
          <input name="username" class="input" type="text" value="<%= @user&.short_username %>" placeholder="<%= I18n.t('views.username') %>">
          <%= model_text_error(@errors, :user, :username) %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-input">
          <input name="password" class="input" type="password" placeholder="<%= I18n.t('views.password') %>">
          <%= model_text_error(@errors, :user, :password) %>
        </div>
      </div>
      <div class="form-group">
        <input class="btn btn-block" type="submit" value="<%= I18n.t('views.sign_up_btn') %>">
      </div>
    </form>
  </div>
</main>

<% content_for(:title) do %>
<%= 'Đăng kí thành viên - rapmay' %>
<% end %>
<% content_for(:description) do %>
<%= 'Tham gia cộng đồng rapmay để được trải nghiệm ráp thử máy tính, tìm giá linh kiện một cách đơn giản nhất' %>
<% end %>
<% content_for(:canonical) do %>
<%= 'https://rapmay.com/sign_up' %>
<% end %>
<% content_for(:og_title) do %>
<%= 'Đăng kí thành viên - rapmay' %>
<% end %>
<% content_for(:og_site_name) do %>
<%= 'Đăng kí thành viên - rapmay' %>
<% end %>
<% content_for(:og_description) do %>
<%= 'Tham gia cộng đồng rapmay để được trải nghiệm ráp thử máy tính, tìm giá linh kiện một cách đơn giản nhất' %>
<% end %>
<% content_for(:og_url) do %>
<%= 'https://rapmay.com/sign_up' %>
<% end %>
