<main class="contents">
  <div class="form-wrapper">
    <h1 class="title text-center"><%= I18n.t('views.sign_in') %></h1>
    <%= single_text_error(@error) %>
    <form class="form" action="/sign_in" method="POST">
      <div class="form-group">
        <input name="username" class="input form-input" type="text" placeholder="<%= I18n.t('views.username') %>">
      </div>
      <div class="form-group">
        <input name="password" class="input form-input" type="password" placeholder="<%= I18n.t('views.password') %>">
      </div>
      <div class="form-group">
        <input class="btn btn-block" type="submit" value="<%= I18n.t('views.sign_in_btn') %>">
      </div>
      <div class="form-group">
        <a href="/forgot_pwd"><%= I18n.t('views.forgot_pwd_link') %></a>
      </div>
    </form>
  </div>
</main>

<% content_for(:title) do %>
<%= 'Đăng nhập - rapmay' %>
<% end %>
<% content_for(:description) do %>
<%= 'Tham gia cộng đồng rapmay để được trải nghiệm ráp thử máy tính, tìm giá linh kiện một cách đơn giản nhất' %>
<% end %>
<% content_for(:canonical) do %>
<%= 'https://rapmay.com/sign_in' %>
<% end %>
<% content_for(:og_title) do %>
<%= 'Đăng nhập - rapmay' %>
<% end %>
<% content_for(:og_site_name) do %>
<%= 'Đăng nhập - rapmay' %>
<% end %>
<% content_for(:og_description) do %>
<%= 'Tham gia cộng đồng rapmay để được trải nghiệm ráp thử máy tính, tìm giá linh kiện một cách đơn giản nhất' %>
<% end %>
<% content_for(:og_url) do %>
<%= 'https://rapmay.com/sign_in' %>
<% end %>

<% if flash[:success] %>
  <% content_for(:success) do %>
    <%= flash[:success] %>
  <% end %>
<% end %>
