<div class="build-item media">
  <div class="media-left">
    <a href="/<%= build.user.username %>"><img src="<%= build.user.avatar_url %>" alt="<%= build.user.short_username %>"></a>
  </div>
  <div class="media-body">
    <p>
      <a href="/<%= build.user.username %>" class="media-username"><%= build.user.short_username %></a>
      <span class="media-date"><%= I18n.t('views.built_at') %><%= build.display_date %></time>
    </p>
    <h3 class="build-title"><a href="/builds/<%= escape_html build.slug %>"><%= escape_html build.title %></a></h3>
    <div class="build-status">
      <% if build.cpu_type %>
      <span class="build-label"><%= I18n.t("views.cpu_#{build.cpu_type}") %></span>
      <% end %>
      <span class="build-label"><%= Buildcauhinh::Util.to_vnd(build.total_price) %></span>
    </div>
  </div>
</div>
