<div class="comment-form media">
  <% if signed_in? %>
  <div class="media-left">
    <img src="<%= current_user.avatar_url %>" alt="<%= current_user.short_username %>">
  </div>
  <div class="media-body">
    <form class="form" method="post" action="/builds/<%= build.id %>/comments">
      <div class="comment-content">
        <textarea name="content" class="textarea" placeholder="<%= I18n.t('views.comment_content') %>"></textarea>
        <%= model_text_error(errors, :comment, :content) %>
      </div>
      <div class="comment-submit">
        <button type="submit" class="btn"><%= I18n.t('views.send_btn') %></button>
      </div>
    </form>
  </div>
  <% else %>
    <h3 class="sub-title">Đăng nhập để bình luận</h3>
  <% end %>
</div>
