<footer class="footer">
  <div class="container">
    <ul>
      <li><a href="/"><%= I18n.t('views.home') %></a></li>
      <li><a href="/about"><%= I18n.t('views.about') %></a></li>
      <li><a href="/tos"><%= I18n.t('views.tos') %></a></li>
      <li><a href="/contact"><%= I18n.t('views.contact') %></a></li>
    </ul>
    <p><%= I18n.t('views.copyright') %></p>
  </div>
</footer>
