<div class="hardware-item">
  <div class="box">
    <a href="<%= hardware.url %>" target="_blank">
      <div class="hardware-img">
        <img src="<%= cl_hardware_url(hardware) || hardware.image_url %>" alt="<%= hardware.name %>">
      </div>
    </a>
    <div class="hardware-body">
      <a href="<%= hardware.url %>" target="_blank">
        <h3 class="hardware-name">
          <span class="hardware-provider">[<%= I18n.t("views.#{hardware.provider}") %>]</span>
          <%= hardware.name %>
        </h3>
      </a>
      <p class="hardware-price"><%= hardware.display_price %></p>
    </div>
    <div class="hardware-btn">
      <button type="button" class="btn btn-gray" data-json="<%= { name: hardware.name, id: hardware.id, part: hardware.part }.to_json %>" onclick="HardwareList.addItem(this)"><%= I18n.t('views.build_btn') %></button>
    </div>
  </div>
</div>
