<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="E5Oy0kgIZ3RFlBThplk1vr765X3yJbQY3PX8UxpwLo8">

    <title><%= yield_content(:title) { "Build cấu hình máy tính - #{SETTINGS['site_title']}" } %></title>
    <meta name="description" content="<%= yield_content(:description) { 'Nhanh chóng build thử cấu hình máy tính và check giá linh kiện tại các cửa hàng' } %>">

    <link rel="canonical" href="<%= yield_content(:canonical) { to('/') } %>">

    <meta property="og:title" content="<%= yield_content(:og_title) { "Build cấu hình máy tính - #{SETTINGS['site_title']}" } %>">
    <meta property="og:site_name" content="<%= yield_content(:og_site_name) { "Build cấu hình máy tính - #{SETTINGS['site_title']}" } %>">
    <meta property="og:description" content="<%= yield_content(:og_description) { 'Nhanh chóng build thử cấu hình máy tính và check giá linh kiện tại các cửa hàng' } %>">
    <meta property="og:url" content="<%= yield_content(:og_url) { to('/') } %>">
    <meta property="og:image" content="<%= yield_content(:og_image) { to(ASSETS['og.png']) } %>">
    <meta property="og:type" content="website">

    <link rel="dns-prefetch" href="//hanoicomputer.vn">
    <link rel="dns-prefetch" href="//hanoinew.vn">
    <link rel="dns-prefetch" href="//maihoang.com.vn">
    <link rel="dns-prefetch" href="//phongvu.vn">
    <link rel="dns-prefetch" href="//tandoanh.vn">
    <link rel="dns-prefetch" href="//vitinhnaman.com">

    <link rel="shortcut icon" type="image/x-icon" href="<%= ASSETS['favicon.ico'] %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= ASSETS['touch_icon_180x180.png'] %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= ASSETS['touch_icon_152x152.png'] %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= ASSETS['touch_icon_120x120.png'] %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= ASSETS['touch_icon_76x76.png'] %>">
    <link rel="icon" sizes="192x192" href="<%= ASSETS['touch_icon_192x192.png'] %>">

    <meta name="csrf-token" content="<%= session[:csrf] %>">
    <%= erb :'shared/css_inline' %>
    <script src="<%= ASSETS['main.js'] %>" defer></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110209736-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%= erb :'shared/header' %>
    <%= yield %>
    <%= erb :'shared/footer' %>
    <%= erb :'shared/builder' %>
    <%= erb(:'shared/flash', locals: { message: yield_content(:success), success: true }) if content_for?(:success) %>
    <%= erb(:'shared/flash', locals: { message: yield_content(:error), success: false }) if content_for?(:error) %>
  </body>
</html>
