<main class="contents">
  <div class="container">
    <h1 class="title text-center">Giới thiệu</h1>
    <p>
      <%= "#{SETTINGS['site_title']} dựa trên ý tưởng từ box 24 và 25 của vozforums, #{SETTINGS['site_title']} ra đời nhằm giúp anh em voz có thể build nhanh cấu hình và check giá tại các cửa hàng linh kiện vi tính" %>
    </p>
  </div>
</main>

<% content_for(:title) do %>
<%= "Giới thiệu - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:description) do %>
<%= "#{SETTINGS['site_title']} dựa trên ý tưởng từ box 24 và 25 của vozforums, #{SETTINGS['site_title']} ra đời nhằm giúp anh em voz có thể build nhanh cấu hình và check giá tại các cửa hàng linh kiện vi tính" %>
<% end %>
<% content_for(:canonical) do %>
<%= to('/about') %>
<% end %>
<% content_for(:og_title) do %>
<%= "Giới thiệu - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_site_name) do %>
<%= "Giới thiệu - #{SETTINGS['site_title']}" %>
<% end %>
<% content_for(:og_description) do %>
<%= "#{SETTINGS['site_title']} dựa trên ý tưởng từ box 24 và 25 của vozforums, #{SETTINGS['site_title']} ra đời nhằm giúp anh em voz có thể build nhanh cấu hình và check giá tại các cửa hàng linh kiện vi tính" %>
<% end %>
<% content_for(:og_url) do %>
<%= to('/about') %>
<% end %>
