<main>
  <section class="banner">
    <div class="banner-img" style="background-image: url(<%= ASSETS['motherboard.png'] %>)"></div>
    <h1><%= I18n.t('views.site_main_title') %></h1>
  </section>

  <section class="contents">
    <div class="container">
      <div class="hardware-search">
        <div class="hardware-search-input">
          <input type="text" class="input input-search" placeholder="<%= I18n.t('views.plh_search_hardware') %>">
          <select class="hardware-provider-select choices" multiple>
          <% SETTINGS['hardware_providers'].each do |provider| %>
            <option value="<%= provider %>"><%= I18n.t("views.#{provider}") %></option>
          <% end %>
          </select>
          <select class="input hardware-search-type">
            <option value="live" selected>Live</option>
            <option value="cache">Cache</option>
          </select>
        </div>
        <button type="button" class="btn btn-gray" onclick="Buildcauhinh.search()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </button>
      </div>

      <div class="flexbox flexbox-main">
        <div class="main-content">
          <h2 class="title"><%= I18n.t('views.recent_search') %></h2>

          <div class="hardwares">
          <% @hardwares.each do |hardware| %>
          <%= erb :'shared/hardware', locals: { hardware: hardware } %>
          <% end %>
          </div>

          <% if @next_info[:has_next] %>
          <div class="block-view-more">
            <button class="btn btn-gray btn-block" data-json="<%= escape_html(@next_info.to_json) %>" onclick="Buildcauhinh.loadMoreHardwares(this)"><%= I18n.t('views.view_more_btn') %></button>
          </div>
          <% end %>
        </div>

        <aside class="sidebar hidden-sp">
          <h2 class="title"><%= I18n.t('views.select_hardwares') %></h2>
          <ul class="hardware-list">
          <% SETTINGS['part_type'].each do |part| %>
            <% hardware = @building_hardwares.find { |h| h.part == part } %>
            <% json = hardware ? escape_html({id: hardware.id, part: hardware.part}.to_json) : escape_html({part: part}.to_json) %>
            <li id="<%= part %>" data-json="<%= json %>" onclick="HardwareList.togglePartType(this)">
              <div class="build-close-btn <%= hardware ? 'open' : '' %>" onclick="HardwareList.closeCurrentPartHardware(event)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></div>
              <h3><%= part %></h3>
              <% if hardware %>
              <p><%= hardware.name  %></p>
              <% end %>
            </li>
          <% end %>
          </ul>
        </aside>
      </div>
    </div>
  </section>
</main>

<% if flash[:success] %>
  <% content_for(:success) do %>
    <%= flash[:success] %>
  <% end %>
<% end %>

<% if flash[:error] %>
  <% content_for(:error) do %>
    <%= flash[:error] %>
  <% end %>
<% end %>
