<main>
  <section class="banner">
    <div class="banner-img" style="background-image: url(/img/motherboard.png)"></div>
    <h1><%= I18n.t('views.site_main_title') %></h1>
  </section>

  <section class="contents">
    <div class="container">
      <div class="hardware-search">
        <div class="hardware-search-input">
          <form id="hardware-search-form" action="/search" method="post">
            <input type="hidden" name="authenticity_token" value="<%= Rack::Protection::AuthenticityToken.token(session) %>">
            <input value="<%= @q[:word] %>" name="word" type="text" class="input input-search" placeholder="<%= I18n.t('views.plh_search_hardware') %>">
            <select name="providers[]" class="hardware-provider-select"></select>
          </form>
        </div>
        <button type="button" class="btn" onclick="Timgialinhkien.search()"><%= I18n.t('views.search_btn') %></button>
      </div>

      <div class="flexbox flexbox-main">
        <div class="main-content">
          <h2 class="title"><%= I18n.t('views.result_search', count: @hardwares.length) %></h2>
          <div class="hardware-list">
          <% @hardwares.each do |hardware| %>
          <%= erb :'shared/hardware', locals: { hardware: hardware, hardware_list: false } %>
          <% end %>
          </div>
        </div>

        <%= erb(:'shared/sidebar', locals: { new_builds: @new_builds }) %>
      </div>
    </div>
  </section>
</main>

<% content_for(:js) do %>
<script>
var providers = JSON.parse('<%= providers.to_json %>')
var selectedProviders = "<%= @q[:providers].join(', ') %>".split(', ')
</script>
<% end %>
